@using Microsoft.AspNetCore.Identity;
@inject IServiceProvider serviceProvider;
@inject UserManager<BlazorApp1.Data.ApplicationUser> userManager;

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br/>
<a href="/side2">go to page 2</a>
<br />
<a href="/side3">go to page 3</a>
<br />
<a href="/side4">go to page 4</a>

@code {
    protected async override Task OnInitializedAsync()
    {
        //await CreateUserRoles("duck_wild@hotmail.com","Admin");
    }

    public async Task CreateUserRoles(string user, string role)
    {
        var roleManager = serviceProvider.GetRequiredService<RoleManager<IdentityRole>>();

        var userRoleCheck = await roleManager.RoleExistsAsync(role);

        if (!userRoleCheck)
            await roleManager.CreateAsync(new Microsoft.AspNetCore.Identity.IdentityRole(role));

        BlazorApp1.Data.ApplicationUser identityUser = await userManager.FindByEmailAsync(user);
        await userManager.AddToRoleAsync(identityUser, role);

    }
}